.nav{
    margin: 0.6em auto;
    padding: 0.1em 1em 0.5em 1em;
    background-color: rgb(97, 105, 2);
    display: flex;
    flex: 0 0 auto;
    gap: 1em;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    border-radius: 0.5em;
}
.nav a {
    flex: 0 1 auto;
    border: 0px;
    text-decoration:underline ;
    background-color: inherit;
    box-shadow: none;
    color: aliceblue;
}
.nav a:hover{
    text-decoration: overline;
    color: darkblue;
    cursor: pointer;

}

.nav .routes{
    display: flex;
    gap: 1em;
}