@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

#root {
  /* max-width: 1280px; */
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 Lato, sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

body,
input,
select,
button,
section {
  font: inherit;
}

body {
  margin: 0 auto;
}

a {
  padding: 0.2em;
  text-decoration: none;
  color: black;
  border: 1px solid black;
  border-radius: 0.5em;
  background-color: white;
  box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.4);
  transition: background-color 0.5s;
}

a:hover {
  background-color: orange;
  color: white;
}

li {
  list-style: none;
}