.nav{
    margin: 1em auto;
    padding: 0.1em 1em;
    background-color: lightgray;
    display: flex;
    flex: 0 0 auto;
    gap: 1em;
    align-items: center;
    justify-content:space-between;
    flex-direction: row;
    border-radius: 0.5em;
    
}
.nav a {
    text-decoration: none;
    flex: 0 1 auto;
    /* background-color: red; */
    color: black;
}

.nav .routes{
    display: flex;
    gap: 1em;
}