.login {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    background: #fff;
    border-radius: 0.3em;
    padding: 2em;
    box-shadow: 0 0 1em 0 rgb(0, 0, 0, 0.2);
}

.login fieldset {
    display: block;
    width: 100%;
    border: none;
    border-radius: 0.3em;
    padding: 2em;
}

.login legend {
    display: block;
    font-weight: bold;
    font-size: 1.8em;
    border-bottom: 2px solid #ccc;
    padding-bottom: 1.5rem;
}

.login label {
    display: block;
    font-weight: bold;
    font-size: 1.2em;
}

.login input {
    display: block;
    width: 100%;
    border-radius: 0.3em;
    border: 2px solid #ccc;
    padding: 0.5em 1.5em;
}

.login input[type="submit"] {
    border: none;
    background: lightgrey;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 1em;
}

.login input[type="submit"]:hover {
    cursor: pointer;
    background: orange;
}

.login .field {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.5em;
    margin-bottom: 2em;
}

.field label {
    order: -1;
}

.login input:required~label::after {
    display: inline-block;
    content: '*';
    padding-left: 0.3em;
    color: #C00;
}


.error {
    color: red;
    font-size: 1.5em;
}


.login a{
    border: none;
    top: 92%;
    right: 5%;
    position:absolute;
    padding: 0.2em;
}